AI_MODEL_TYPE=anthropic

ANTHROPIC_API_KEY=sk-ant-...
GEMINI_API_KEY=AIzaSy...

GITHUB_CLIENT_ID=seu_id_aqui
GITHUB_CLIENT_SECRET=seu_secret_aqui

USE_DOCKER=True
LOCAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nexus_ia
SUPABASE_DATABASE_URL=postgresql://postgres:SENHA@db.PROJETO.supabase.co:5432/postgres


CHUNK_SIZE=150
CHUNK_OVERLAP=20